{
	"extends": [
		"airbnb",
		"airbnb-typescript",
		"airbnb/hooks",
		"next/core-web-vitals",
		"prettier"
	],
	"rules": {
		"yoda": [
			"off"
		],
		"quotes": [
			"error",
			"double"
		],
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"react/jsx-indent": [
			"error",
			"tab"
		],
		"jsx-a11y/label-has-associated-control": [
			"error",
			{
				"controlComponents": [
					"Form.TextArea",
					"Form.TextInput"
				]
			}
		]
	},
	"parserOptions": {
		"project": "./tsconfig.json",
		"warnOnUnsupportedTypeScriptVersion": false
	}
}
